body {
  height: auto;
  background-image: url(../images/brickwall.jpg);
  background-repeat: repeat; }

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #dadfea;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.75); }
  .navbar .navbar:hover {
    text-shadow: 1px 1px 2px black; }

.footer {
  padding: 0;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.75); }
  .footer .footer-panel {
    margin: 0; }

.panel-body a {
  text-decoration: none;
  color: #777777; }

.welcome-content {
  height: auto;
  background-color: #FFFFFF; }
  .welcome-content .welcome-text {
    color: #682C18; }
  .welcome-content .welcome-p {
    font-size: 20px;
    color: #6C2B19; }
  .welcome-content .welcome-burger {
    margin-bottom: 10px;
    border: 2px solid #6C2B19;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75); }
  .welcome-content .divide-bar {
    height: 10px;
    width: 100%;
    background-color: #6C2B19; }
  .welcome-content .locations {
    border-right: 10px solid #6C2B19;
    margin: 10px 0 10px 0; }
  .welcome-content .hours-div {
    text-align: center;
    margin: 10px 0 10px 0; }
    .welcome-content .hours-div .hours-head {
      font-size: 40px; }
    .welcome-content .hours-div .hours {
      font-size: 25px; }

@media only screen and (max-width: 767px) {
  .locations {
    border: none !important; }

  .hours-head {
    padding-top: 20px;
    border-top: 10px solid #6C2B19;
    margin-top: 0; } }
.foodpic {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid #6C2B19;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75); }

.imgtext {
  text-align: center;
  font-weight: bold;
  font-size: 20px; }
  .imgtext a {
    text-decoration: none;
    color: black; }
  .imgtext a:hover {
    color: #6C2B19;
    text-decoration: underline; }

.menu-content {
  height: auto;
  background-color: #FFFFFF; }
  .menu-content .menu-header {
    text-align: center;
    font-size: 50px; }
  .menu-content .sub-header {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin: 10px; }
  .menu-content .divide-bar2 {
    height: 5px;
    width: 100%;
    background-color: #6C2B19; }
  .menu-content .menu-section {
    border-bottom: 5px solid #6C2B19; }
  .menu-content .main-menu p {
    margin-left: 10px; }
  .menu-content .food-image {
    border: 2px solid #6C2B19;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    display: inline-block; }
  .menu-content .small-menu {
    border-top: 5px solid #6C2B19; }
  .menu-content .sides {
    border-left: 5px solid #6C2B19; }

@media only screen and (max-width: 991px) {
  .sides {
    border: none !important; }

  .kids-meal {
    border-bottom: 5px solid #6C2B19; } }
.shake-list {
  margin-bottom: 0; }

@media only screen and (max-width: 400px) {
  .shake-list {
    margin-bottom: 10px; } }
.page-content {
  height: auto;
  background-color: #FFFFFF; }

.about {
  border-bottom: 5px solid #6C2B19; }

.input1 {
  display: block;
  width: 400px;
  font-size: 1em;
  padding-left: 7px;
  border-radius: 7px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 2px black; }

.input2 {
  width: 400px;
  height: 150px;
  font-size: 1em;
  padding-left: 7px;
  margin-bottom: 2px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px black; }

.submit {
  display: block;
  font-size: 1em;
  width: 150px;
  height: 50px;
  margin-bottom: 6px;
  box-shadow: 1px 1px 2px black; }

.social {
  width: 215px;
  border-top: 2px solid #6C2B19;
  padding-top: 5px;
  margin-bottom: 5px; }

.social-link {
  color: #CA5C55; }

.social-link:visited {
  color: #CA5C55; }

/*# sourceMappingURL=custom.css.map */
