        // body, navbar, and footer CSS
body{
  height: auto;
  background-image: url(../images/brickwall.jpg);
  background-repeat: repeat;
}
.navbar{
  margin-bottom: 0;
  border-bottom: 1px solid #dadfea;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.75);
    .navbar:hover{
      text-shadow: 1px 1px 2px black;
    }
}
.footer{
  padding: 0;
  box-shadow: 0 -2px 8px 0 rgba(0,0,0,0.75);
  .footer-panel{
    margin: 0;
  }
}


        // index CSS


.welcome-content{
  height: auto;
  background-color: #FFFFFF;
  .welcome-text{
    color: #682C18;
  }
  .welcome-p{
    font-size: 20px;
    color: #6C2B19;
  }
  .welcome-burger{
    margin-bottom: 10px;
    border: 2px solid #6C2B19;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.75);
  }

  .divide-bar{
    height: 10px;
    width: 100%;
    background-color: #6C2B19;
  }
  .locations{
    border-right: 10px solid #6C2B19;
    margin: 10px 0 10px 0;
  }
  .hours-div{
    text-align: center;
    margin: 10px 0 10px 0;
    .hours-head{
      font-size: 40px;
      }
    .hours{
      font-size: 25px;
    }
  }
}
@media only screen and (max-width: 767px){
  .locations{
    border: none !important;
  }
  .hours-head{
    padding-top: 20px;
    border-top: 10px solid #6C2B19;
    margin-top: 0;
  }
}
.foodpic{
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid #6C2B19;
  box-shadow: 0 0 10px -1px rgba(0,0,0,0.75);
}
.imgtext{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
  }
}


          // menu CSS


.menu-content {
  height: 600px;
  background-color: #FFFFFF;
  .menu-header {
    text-align: center;
    font-size: 60px;
  }
  .sub-header{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    margin: 10px;
  }
}
.divide-bar2{
  height: 10px;
  width: 100%;
  background-color: #6C2B19;
}